---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import TopNav from "../../components/TopNav.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { formatDate } from "../../utils/date";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogLayout title={entry.data.title} enableMathJax={entry.data.enableMathJax}>
  <TopNav />
  <article>
    <div class="meta">
      <h1>{entry.data.title}</h1>
      <p>
        <time datetime={entry.data.date.toISOString()}>
          {formatDate(entry.data.date)}
        </time>
      </p>
    </div>
    {
      entry.data.coverImage && (
        <Image
          src={entry.data.coverImage}
          alt={entry.data.title}
          class="cover"
        />
      )
    }
    <div class="content">
      <Content />
    </div>
  </article>
  <footer></footer>
</BlogLayout>

<style lang="sass">
  body
    background-color: var(--color-background)

  footer
    height: 100px
</style>
