---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import TopNav from "../../components/TopNav.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from '../../utils/date';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts", ({ data }) => data.public);
  return paginate(
    posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
    { pageSize: 9 }
  );
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Nathan's Blog">
  <TopNav />
  <main class="container">
    <h1>Nathan's Blog</h1>
    <ul class="posts">
      <r-grid columns=12>
        {page.data.map((post) => (
          <r-cell span-l=4 span=6 span-s=12>
            <li>
              <h2><a href={`/blog/${post.slug}`}>{post.data.title}</a></h2>
              <span>{formatDate(post.data.date)}</span>
            </li>
          </r-cell>
        ))}
      </r-grid>
    </ul>
    <ul class="pagination">
      {page.url.prev && <li>
        <a href={page.url.prev}>← Newer</a>
      </li>}
      {page.url.next && <li>
        <a href={page.url.next}>Older →</a>
      </li>}
    </ul>
  </main>
  <footer/>
</Layout>

<style lang="sass">
body
  background-color: var(--color-background)
.container
  max-width: 1200px
h1
  margin: 2.5rem 0 0
ul
  a
    text-decoration: none
  &.posts
    list-style-type: none
    margin: 2rem 0
    padding: 0
    h2
      font-family: var(--font-family-accent)
      font-size: 1.6rem
      font-variation-settings: "wdth" 50, "GRAD" 20
      font-weight: 350
    span
      font-size: 1rem
  &.pagination
    display: flex
    gap: 1.2em
    justify-content: center
    list-style-type: none
    margin: 3rem 0 1rem
    padding: 0
</style>
