---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import Buttons from "../components/Buttons.astro";
import Layout from "../layouts/Layout.astro";
import heroBlob from "../visuals/blob-frame.webp";

const htmlTitle = "Nathan Zartre";
const htmlDescription = "Full-stack software engineer who is passionate in solving real world problems through code";

const blogURL = import.meta.env.VITE_BLOG_URL;
const linkedInURL = "https://linkedin.com/in/zartre";

const projects = [
  {
    name: "TEDxKMITL 2017",
  },
  {
    name: "Smart City Research Center",
  },
  {
    name: "IT KMITL Open House 2016",
  },
  {
    name: "IT KMITL Website",
  },
];
---

<Layout title={htmlTitle} description={htmlDescription}>
  <main>
    <section id="hero" class="container-padded">
      <Image
        id="hero-blob"
        src={heroBlob}
        alt="Decorative blob"
        width="380"
        height="336"
      />
      <svg
        id="site-name"
        width="409"
        height="199"
        viewBox="0 0 409 199"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M308.066 198.36C301.815 198.36 296.369 197.136 291.729 194.687C287.089 192.173 283.513 188.661 280.999 184.15C278.486 179.574 277.229 174.193 277.229 168.007C277.229 161.82 278.454 156.503 280.903 152.057C283.352 147.546 286.832 144.098 291.343 141.713C295.918 139.264 301.299 138.04 307.486 138.04C313.544 138.04 318.732 139.2 323.049 141.52C327.432 143.84 330.783 147.159 333.103 151.477C335.423 155.794 336.583 160.95 336.583 166.943V172.357H292.599C293.244 176.674 294.887 179.961 297.529 182.217C300.172 184.472 303.652 185.6 307.969 185.6C311.385 185.6 314.092 185.02 316.089 183.86C318.087 182.7 319.505 180.928 320.343 178.543H336.389C335.101 184.73 331.975 189.596 327.013 193.14C322.051 196.62 315.735 198.36 308.066 198.36ZM292.986 161.723H321.213C320.697 158.05 319.279 155.311 316.959 153.507C314.639 151.638 311.514 150.703 307.583 150.703C303.652 150.703 300.429 151.638 297.916 153.507C295.467 155.376 293.824 158.114 292.986 161.723Z"
          fill="#202020"></path>
        <path
          d="M238.661 197.2V155.053H230.734V139.2H246.974V150.607H251.034C252.581 146.547 255.03 143.518 258.381 141.52C261.732 139.522 265.502 138.523 269.691 138.523H274.621V152.443H269.014C263.988 152.443 260.282 153.861 257.898 156.697C255.578 159.532 254.418 163.27 254.418 167.91V197.2H238.661Z"
          fill="#202020"></path>
        <path
          d="M207.368 197.2C203.244 197.2 200.021 196.169 197.701 194.107C195.446 191.98 194.318 188.758 194.318 184.44V151.767H184.361V139.2H194.511V121.8H210.171V139.2H223.608V151.767H210.365V184.633H224.961V197.2H207.368Z"
          fill="#202020"></path>
        <path
          d="M144.298 197.2V155.053H136.371V139.2H152.611V150.607H156.671C158.218 146.547 160.667 143.518 164.018 141.52C167.369 139.522 171.139 138.523 175.328 138.523H180.258V152.443H174.651C169.624 152.443 165.919 153.861 163.534 156.697C161.214 159.532 160.054 163.27 160.054 167.91V197.2H144.298Z"
          fill="#202020"></path>
        <path
          d="M91.3017 198.263C84.4706 198.263 79.1217 196.62 75.255 193.333C71.3884 189.982 69.455 185.6 69.455 180.187C69.455 174.451 71.4528 170.037 75.4483 166.943C79.4439 163.85 85.1795 162.303 92.655 162.303H109.282V160.08C109.282 153.829 105.544 150.703 98.0684 150.703C91.5595 150.703 87.6284 152.959 86.275 157.47H70.325C71.6139 151.09 74.6106 146.257 79.315 142.97C84.0195 139.683 90.2706 138.04 98.0684 138.04C106.704 138.04 113.277 139.973 117.788 143.84C122.364 147.707 124.652 153.346 124.652 160.757V181.347H132.192V197.2H115.952V187.727H111.892C109.894 191.078 107.219 193.688 103.868 195.557C100.517 197.361 96.3283 198.263 91.3017 198.263ZM93.7184 186.083C96.7472 186.083 99.4217 185.536 101.742 184.44C104.062 183.344 105.898 181.894 107.252 180.09C108.605 178.221 109.282 176.127 109.282 173.807V172.937H93.4284C87.6284 172.937 84.7283 175.096 84.7283 179.413C84.7283 181.54 85.5339 183.183 87.145 184.343C88.7561 185.503 90.9472 186.083 93.7184 186.083Z"
          fill="#202020"></path>
        <path
          d="M0 197.2V186.18L40.9867 133.207H1.74V118.9H62.2533V129.92L21.3633 182.893H63.4133V197.2H0Z"
          fill="#202020"></path>
        <path
          d="M349.6 81.2V39.0533H341.673V23.2H357.913V32.6733H361.973C364.228 29.3222 367.064 26.7444 370.48 24.94C373.895 23.0711 378.148 22.1367 383.24 22.1367C391.295 22.1367 397.514 24.36 401.896 28.8067C406.343 33.1889 408.566 39.0855 408.566 46.4967V81.2H392.52V49.4933C392.52 45.24 391.36 42.0178 389.04 39.8267C386.784 37.5711 383.465 36.4433 379.083 36.4433C374.701 36.4433 371.35 37.5711 369.03 39.8267C366.774 42.0178 365.646 45.24 365.646 49.4933V81.2H349.6Z"
          fill="#202020"></path>
        <path
          d="M297.474 82.2633C290.642 82.2633 285.294 80.62 281.427 77.3333C277.56 73.9822 275.627 69.6 275.627 64.1867C275.627 58.4511 277.625 54.0367 281.62 50.9433C285.616 47.85 291.351 46.3033 298.827 46.3033H315.454V44.08C315.454 37.8289 311.716 34.7033 304.24 34.7033C297.731 34.7033 293.8 36.9589 292.447 41.47H276.497C277.786 35.09 280.782 30.2567 285.487 26.97C290.191 23.6833 296.442 22.04 304.24 22.04C312.876 22.04 319.449 23.9733 323.96 27.84C328.536 31.7067 330.824 37.3456 330.824 44.7567V65.3467H338.364V81.2H322.124V71.7267H318.064C316.066 75.0778 313.391 77.6878 310.04 79.5567C306.689 81.3611 302.5 82.2633 297.474 82.2633ZM299.89 70.0833C302.919 70.0833 305.594 69.5356 307.914 68.44C310.234 67.3445 312.07 65.8945 313.424 64.09C314.777 62.2211 315.454 60.1267 315.454 57.8067V56.9367H299.6C293.8 56.9367 290.9 59.0956 290.9 63.4133C290.9 65.54 291.706 67.1833 293.317 68.3433C294.928 69.5033 297.119 70.0833 299.89 70.0833Z"
          fill="#202020"></path>
        <path
          d="M207.483 81.2V0H223.53V31.5133H223.916C225.785 28.42 228.298 26.1 231.456 24.5533C234.614 22.9422 238.352 22.1367 242.67 22.1367C249.952 22.1367 255.72 24.36 259.973 28.8067C264.291 33.1889 266.45 39.0855 266.45 46.4967V81.2H250.403V49.4933C250.403 45.24 249.243 42.0178 246.923 39.8267C244.667 37.5711 241.348 36.4433 236.966 36.4433C232.584 36.4433 229.233 37.5711 226.913 39.8267C224.657 42.0178 223.53 45.24 223.53 49.4933V81.2H207.483Z"
          fill="#202020"></path>
        <path
          d="M181.313 81.2C177.189 81.2 173.967 80.1689 171.647 78.1067C169.391 75.98 168.263 72.7578 168.263 68.44V35.7667H158.307V23.2H168.457V5.79999H184.117V23.2H197.553V35.7667H184.31V68.6333H198.907V81.2H181.313Z"
          fill="#202020"></path>
        <path
          d="M113.052 82.2633C106.221 82.2633 100.872 80.62 97.005 77.3333C93.1384 73.9822 91.205 69.6 91.205 64.1867C91.205 58.4511 93.2028 54.0367 97.1983 50.9433C101.194 47.85 106.929 46.3033 114.405 46.3033H131.032V44.08C131.032 37.8289 127.294 34.7033 119.818 34.7033C113.309 34.7033 109.378 36.9589 108.025 41.47H92.075C93.3639 35.09 96.3606 30.2567 101.065 26.97C105.769 23.6833 112.021 22.04 119.818 22.04C128.454 22.04 135.027 23.9733 139.538 27.84C144.114 31.7067 146.402 37.3456 146.402 44.7567V65.3467H153.942V81.2H137.702V71.7267H133.642C131.644 75.0778 128.969 77.6878 125.618 79.5567C122.267 81.3611 118.078 82.2633 113.052 82.2633ZM115.468 70.0833C118.497 70.0833 121.172 69.5356 123.492 68.44C125.812 67.3445 127.648 65.8945 129.002 64.09C130.355 62.2211 131.032 60.1267 131.032 57.8067V56.9367H115.178C109.378 56.9367 106.478 59.0956 106.478 63.4133C106.478 65.54 107.284 67.1833 108.895 68.3433C110.506 69.5033 112.697 70.0833 115.468 70.0833Z"
          fill="#202020"></path>
        <path
          d="M79.75 81.2H62.2533L21.5567 26.8733H21.17V81.2H5.51001V2.89999H22.4267L63.7033 58.3867H64.09V2.89999H79.75V81.2Z"
          fill="#202020"></path>
      </svg>
      <div class="bio">
        <p>
          Full-stack<br />
          software engineer<br />
          who is passionate in<br />
          solving real world problems<br />
          through code
        </p>
        <span>Bangkok, Thailand</span>
      </div>
      <Buttons class="cta">
        <Button text="Blog" url={blogURL} />
        <Button text="LinkedIn" url={linkedInURL} />
      </Buttons>
    </section>
    <section id="services" class="container">
      <div>
        <h3>Web frontend</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="52px"
          height="52px"
          ><path
            d="M 13 0.75195312 L 12.5 1.0390625 L 9.5 2.7734375 L 9 3.0625 L 9 3.640625 L 9 32.509766 L 9 33.087891 L 9.5 33.376953 L 36.5 48.957031 L 37 49.244141 L 37.5 48.955078 L 40.5 47.228516 L 41 46.939453 L 41 46.361328 L 41 17.494141 L 41 16.917969 L 40.5 16.628906 L 13.5 1.0390625 L 13 0.75195312 z M 13 2.1953125 L 39.5 17.494141 L 37 18.9375 L 10.5 3.640625 L 13 2.1953125 z M 10.25 4.0742188 L 36.75 19.371094 L 36.75 25.722656 L 10.25 10.421875 L 10.25 4.0742188 z M 11.980469 6.8515625 A 0.250025 0.250025 0 0 0 11.75 7.1015625 L 11.75 9.4121094 A 0.250025 0.250025 0 0 0 11.875 9.6289062 L 13.875 10.783203 A 0.250025 0.250025 0 0 0 14.25 10.566406 L 14.25 8.2578125 A 0.250025 0.250025 0 0 0 14.125 8.0410156 L 12.125 6.8847656 A 0.250025 0.250025 0 0 0 12.005859 6.8515625 A 0.250025 0.250025 0 0 0 11.980469 6.8515625 z M 12.25 7.5351562 L 13.75 8.4003906 L 13.75 10.132812 L 12.25 9.2675781 L 12.25 7.5351562 z M 15.980469 9.1621094 A 0.250025 0.250025 0 0 0 15.75 9.4121094 L 15.75 11.720703 A 0.250025 0.250025 0 0 0 15.875 11.9375 L 17.875 13.091797 A 0.250025 0.250025 0 0 0 18.25 12.876953 L 18.25 10.566406 A 0.250025 0.250025 0 0 0 18.125 10.349609 L 16.125 9.1953125 A 0.250025 0.250025 0 0 0 15.980469 9.1621094 z M 16.25 9.8457031 L 17.75 10.710938 L 17.75 12.443359 L 16.25 11.576172 L 16.25 9.8457031 z M 10.25 11 L 36.75 26.298828 L 36.75 47.65625 L 10.25 32.365234 L 10.25 11 z M 19.980469 11.470703 A 0.250025 0.250025 0 0 0 19.75 11.720703 L 19.75 14.029297 A 0.250025 0.250025 0 0 0 19.875 14.246094 L 34.875 22.908203 A 0.250025 0.250025 0 0 0 35.25 22.691406 L 35.25 20.380859 A 0.250025 0.250025 0 0 0 35.125 20.164062 L 20.125 11.503906 A 0.250025 0.250025 0 0 0 20.005859 11.470703 A 0.250025 0.250025 0 0 0 19.980469 11.470703 z M 20.25 12.154297 L 34.75 20.525391 L 34.75 22.257812 L 20.25 13.884766 L 20.25 12.154297 z M 11.980469 14.935547 A 0.250025 0.250025 0 0 0 11.75 15.185547 L 11.75 31.351562 A 0.250025 0.250025 0 0 0 11.875 31.568359 L 23.875 38.496094 A 0.250025 0.250025 0 0 0 24.25 38.279297 L 24.25 22.113281 A 0.250025 0.250025 0 0 0 24.125 21.896484 L 12.125 14.96875 A 0.250025 0.250025 0 0 0 11.980469 14.935547 z M 12.25 15.619141 L 23.75 22.257812 L 23.75 37.845703 L 12.25 31.207031 L 12.25 15.619141 z M 39.75 17.927734 L 39.75 24.277344 L 37.25 25.722656 L 37.25 19.371094 L 39.75 17.927734 z M 25.980469 23.017578 A 0.250025 0.250025 0 0 0 25.75 23.267578 L 25.75 25.576172 A 0.250025 0.250025 0 0 0 25.875 25.792969 L 34.875 30.990234 A 0.250025 0.250025 0 0 0 35.25 30.773438 L 35.25 28.464844 A 0.250025 0.250025 0 0 0 35.125 28.248047 L 26.125 23.050781 A 0.250025 0.250025 0 0 0 26.005859 23.017578 A 0.250025 0.250025 0 0 0 25.980469 23.017578 z M 26.25 23.701172 L 34.75 28.607422 L 34.75 30.339844 L 26.25 25.433594 L 26.25 23.701172 z M 39.75 24.853516 L 39.75 46.216797 L 37.25 47.65625 L 37.25 26.298828 L 39.75 24.853516 z M 25.980469 27.636719 A 0.250025 0.250025 0 0 0 25.75 27.886719 L 25.75 30.195312 A 0.250025 0.250025 0 0 0 25.875 30.412109 L 34.875 35.609375 A 0.250025 0.250025 0 0 0 35.25 35.392578 L 35.25 33.082031 A 0.250025 0.250025 0 0 0 35.125 32.867188 L 26.125 27.669922 A 0.250025 0.250025 0 0 0 26.005859 27.636719 A 0.250025 0.250025 0 0 0 25.980469 27.636719 z M 26.25 28.320312 L 34.75 33.226562 L 34.75 34.958984 L 26.25 30.050781 L 26.25 28.320312 z M 25.980469 32.255859 A 0.250025 0.250025 0 0 0 25.75 32.505859 L 25.75 34.814453 A 0.250025 0.250025 0 0 0 25.875 35.03125 L 34.875 40.226562 A 0.250025 0.250025 0 0 0 35.25 40.011719 L 35.25 37.701172 A 0.250025 0.250025 0 0 0 35.125 37.486328 L 26.125 32.289062 A 0.250025 0.250025 0 0 0 25.980469 32.255859 z M 26.25 32.939453 L 34.75 37.845703 L 34.75 39.578125 L 26.25 34.669922 L 26.25 32.939453 z M 25.980469 36.875 A 0.250025 0.250025 0 0 0 25.75 37.123047 L 25.75 39.433594 A 0.250025 0.250025 0 0 0 25.875 39.650391 L 34.875 44.845703 A 0.250025 0.250025 0 0 0 35.25 44.630859 L 35.25 42.320312 A 0.250025 0.250025 0 0 0 35.125 42.105469 L 26.125 36.908203 A 0.250025 0.250025 0 0 0 25.980469 36.875 z M 26.25 37.556641 L 34.75 42.464844 L 34.75 44.197266 L 26.25 39.289062 L 26.25 37.556641 z"
          ></path></svg
        >
      </div>
      <div>
        <h3>Backend</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="52px"
          height="52px"
          ><path
            d="M 13 0.75195312 L 12.5 1.0390625 L 9.5 2.7714844 L 9 3.0605469 L 9 3.6386719 L 9 32.505859 L 9 33.082031 L 9.5 33.371094 L 36.5 48.960938 L 37 49.248047 L 37.5 48.960938 L 40.5 47.228516 L 41 46.939453 L 41 46.361328 L 41 17.492188 L 41 16.916016 L 40.5 16.626953 L 13.5 1.0390625 L 13 0.75195312 z M 13 2.1953125 L 39.501953 17.494141 L 37 18.9375 L 10.5 3.6386719 L 13 2.1953125 z M 10.25 4.0722656 L 36.75 19.371094 L 36.75 47.660156 L 10.25 32.361328 L 10.25 4.0722656 z M 11.980469 11.470703 A 0.250025 0.250025 0 0 0 11.75 11.720703 L 11.75 31.339844 A 0.25025132 0.25025132 0 0 0 11.75 31.365234 A 0.250025 0.250025 0 0 0 11.751953 31.376953 A 0.25025132 0.25025132 0 0 0 11.757812 31.414062 A 0.250025 0.250025 0 0 0 11.761719 31.425781 A 0.25025132 0.25025132 0 0 0 11.765625 31.4375 A 0.250025 0.250025 0 0 0 11.773438 31.457031 A 0.25025132 0.25025132 0 0 0 11.775391 31.460938 A 0.250025 0.250025 0 0 0 11.78125 31.470703 A 0.25025132 0.25025132 0 0 0 11.791016 31.488281 A 0.250025 0.250025 0 0 0 11.794922 31.496094 A 0.25025132 0.25025132 0 0 0 11.800781 31.503906 A 0.250025 0.250025 0 0 0 11.808594 31.513672 A 0.25025132 0.25025132 0 0 0 11.816406 31.523438 A 0.250025 0.250025 0 0 0 11.826172 31.53125 A 0.25025132 0.25025132 0 0 0 11.835938 31.539062 A 0.250025 0.250025 0 0 0 11.84375 31.546875 A 0.25025132 0.25025132 0 0 0 11.855469 31.554688 A 0.250025 0.250025 0 0 0 11.865234 31.5625 A 0.25025132 0.25025132 0 0 0 11.875 31.568359 L 34.875 44.845703 A 0.250025 0.250025 0 0 0 35.25 44.630859 L 35.25 43.498047 A 0.25025175 0.25025175 0 0 0 35.25 43.472656 L 35.25 25 A 0.250025 0.250025 0 0 0 35.125 24.783203 L 13.158203 12.101562 A 0.250025 0.250025 0 0 0 13.089844 12.060547 L 12.125 11.503906 A 0.250025 0.250025 0 0 0 12.005859 11.470703 A 0.250025 0.250025 0 0 0 11.980469 11.470703 z M 12.25 12.154297 L 12.75 12.443359 L 12.75 30.628906 L 12.25 30.917969 L 12.25 12.154297 z M 13.25 12.732422 L 34.75 25.144531 L 34.75 43.041016 L 13.25 30.628906 L 13.25 12.732422 z M 39.75 17.925781 L 39.75 46.216797 L 37.25 47.660156 L 37.25 19.371094 L 39.75 17.925781 z M 19.992188 18.398438 A 0.250025 0.250025 0 0 0 19.875 18.431641 L 18.908203 18.990234 A 0.250025 0.250025 0 0 0 18.835938 19.033203 L 13.875 21.896484 A 0.250025 0.250025 0 0 0 13.783203 22.238281 L 18.769531 30.873047 A 0.250025 0.250025 0 0 0 18.824219 30.953125 A 0.250025 0.250025 0 0 0 18.830078 30.957031 A 0.250025 0.250025 0 0 0 19.152344 30.974609 L 20.125 30.412109 A 0.250025 0.250025 0 0 0 20.25 30.195312 L 20.25 27.898438 A 0.25025175 0.25025175 0 0 0 20.25 27.886719 A 0.250025 0.250025 0 0 0 20.25 27.873047 A 0.25025175 0.25025175 0 0 0 20.244141 27.837891 A 0.250025 0.250025 0 0 0 20.242188 27.824219 A 0.25025175 0.25025175 0 0 0 20.238281 27.8125 A 0.250025 0.250025 0 0 0 20.234375 27.800781 A 0.25025175 0.25025175 0 0 0 20.230469 27.789062 A 0.250025 0.250025 0 0 0 20.224609 27.777344 A 0.25025175 0.25025175 0 0 0 20.21875 27.767578 A 0.250025 0.250025 0 0 0 20.21875 27.765625 A 0.25025175 0.25025175 0 0 0 20.216797 27.761719 L 17.341797 22.783203 L 19.101562 21.767578 A 0.250025 0.250025 0 0 0 19.144531 21.742188 L 20.125 21.175781 A 0.250025 0.250025 0 0 0 20.25 20.958984 L 20.25 18.648438 A 0.250025 0.250025 0 0 0 19.992188 18.398438 z M 19.75 19.082031 L 19.75 20.814453 L 19.25 21.103516 L 19.25 19.371094 L 19.75 19.082031 z M 18.75 19.660156 L 18.75 21.392578 L 16.890625 22.466797 A 0.250025 0.250025 0 0 0 16.875 22.474609 A 0.250025 0.250025 0 0 0 16.853516 22.488281 L 15.875 23.050781 A 0.250025 0.250025 0 0 0 15.783203 23.392578 L 18.75 28.53125 L 18.75 29.839844 L 14.341797 22.205078 L 18.75 19.660156 z M 24.980469 21.285156 A 0.250025 0.250025 0 0 0 24.875 21.320312 L 23.908203 21.876953 A 0.250025 0.250025 0 0 0 23.746094 22.089844 L 20.761719 31.855469 A 0.250025 0.250025 0 0 0 20.875 32.144531 L 22.794922 33.251953 A 0.250025 0.250025 0 0 0 23.183594 33.263672 L 24.125 32.722656 A 0.250025 0.250025 0 0 0 24.238281 32.578125 L 27.234375 22.777344 A 0.25025175 0.25025175 0 0 0 27.238281 22.763672 A 0.250025 0.250025 0 0 0 27.242188 22.751953 A 0.25025175 0.25025175 0 0 0 27.248047 22.714844 A 0.250025 0.250025 0 0 0 27.25 22.703125 A 0.25025175 0.25025175 0 0 0 27.25 22.689453 A 0.250025 0.250025 0 0 0 27.25 22.677734 A 0.25025175 0.25025175 0 0 0 27.244141 22.640625 A 0.250025 0.250025 0 0 0 27.242188 22.628906 A 0.25025175 0.25025175 0 0 0 27.238281 22.615234 A 0.250025 0.250025 0 0 0 27.234375 22.605469 A 0.25025175 0.25025175 0 0 0 27.228516 22.591797 A 0.250025 0.250025 0 0 0 27.224609 22.582031 A 0.25025175 0.25025175 0 0 0 27.21875 22.570312 A 0.250025 0.250025 0 0 0 27.212891 22.560547 A 0.25025175 0.25025175 0 0 0 27.171875 22.509766 A 0.250025 0.250025 0 0 0 27.144531 22.488281 A 0.25025175 0.25025175 0 0 0 27.138672 22.484375 A 0.250025 0.250025 0 0 0 27.125 22.474609 L 25.125 21.320312 A 0.250025 0.250025 0 0 0 25.005859 21.285156 A 0.250025 0.250025 0 0 0 24.980469 21.285156 z M 25 21.824219 L 26.5 22.691406 L 26 22.978516 L 24.5 22.113281 L 25 21.824219 z M 24.148438 22.488281 L 25.703125 23.384766 L 22.853516 32.710938 L 21.296875 31.810547 L 24.148438 22.488281 z M 16.908203 23.033203 L 19.658203 27.794922 L 19.091797 28.123047 L 16.341797 23.359375 L 16.908203 23.033203 z M 26.576172 23.224609 L 23.789062 32.337891 L 23.423828 32.548828 L 26.208984 23.435547 L 26.576172 23.224609 z M 28.986328 23.595703 A 0.250025 0.250025 0 0 0 28.875 23.628906 L 27.914062 24.183594 A 0.250025 0.250025 0 0 0 27.75 24.460938 L 27.75 26.732422 A 0.250025 0.250025 0 0 0 27.783203 26.857422 L 30.658203 31.835938 L 27.875 33.443359 A 0.250025 0.250025 0 0 0 27.75 33.660156 L 27.75 35.970703 A 0.250025 0.250025 0 0 0 28.125 36.185547 L 34.125 32.722656 A 0.250025 0.250025 0 0 0 34.216797 32.380859 L 29.216797 23.720703 A 0.250025 0.250025 0 0 0 28.986328 23.595703 z M 28.908203 24.185547 L 33.658203 32.414062 L 33.091797 32.740234 L 28.341797 24.513672 L 28.908203 24.185547 z M 28.25 25.357422 L 32.658203 32.992188 L 28.25 35.537109 L 28.25 33.804688 L 31.125 32.144531 A 0.250025 0.250025 0 0 0 31.216797 31.802734 L 28.25 26.664062 L 28.25 25.357422 z M 19.75 28.320312 L 19.75 30.050781 L 19.25 30.339844 L 19.25 28.607422 L 19.75 28.320312 z M 13 31.0625 L 34.75 43.619141 L 34.75 44.197266 L 12.5 31.351562 L 13 31.0625 z"
          ></path></svg
        >
      </div>
      <div>
        <h3>API</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="52px"
          height="52px"
          ><path
            d="M 16 1.3242188 L 15.498047 1.6152344 L 9.4980469 5.0859375 L 9 5.3730469 L 9 5.9492188 L 9 12.880859 L 9 13.457031 L 9.5 13.746094 L 13 15.767578 L 13 23.841797 L 9.5 25.863281 L 9 26.152344 L 9 26.730469 L 9 33.660156 L 9 34.238281 L 9.5 34.527344 L 15.5 37.986328 L 16 38.275391 L 16.5 37.986328 L 20 35.964844 L 27 40.007812 L 27 44.050781 L 27 44.626953 L 27.498047 44.916016 L 33.498047 48.386719 L 34 48.675781 L 34.501953 48.384766 L 40.501953 44.914062 L 41 44.626953 L 41 44.050781 L 41 37.119141 L 41 36.542969 L 40.5 36.253906 L 37 34.232422 L 37 26.158203 L 40.5 24.136719 L 41 23.847656 L 41 23.269531 L 41 16.339844 L 41 15.761719 L 40.5 15.472656 L 34.5 12.013672 L 34 11.724609 L 33.5 12.013672 L 30 14.035156 L 23 9.9921875 L 23 5.9492188 L 23 5.3730469 L 22.501953 5.0839844 L 16.501953 1.6132812 L 16 1.3242188 z M 16 2.7695312 L 21.5 5.9492188 L 16 9.1230469 L 10.5 5.9492188 L 16 2.7695312 z M 10.25 6.3828125 L 15.75 9.5566406 L 15.75 15.90625 L 14.134766 14.978516 A 0.250025 0.250025 0 0 0 14.125 14.972656 L 10.25 12.736328 L 10.25 6.3828125 z M 21.75 6.3828125 L 21.75 10.136719 L 20.125 9.1953125 A 0.250025 0.250025 0 0 0 19.980469 9.1621094 A 0.250025 0.250025 0 0 0 19.875 9.1953125 L 17.875 10.349609 A 0.250025 0.250025 0 0 0 17.75 10.566406 L 17.75 12.876953 A 0.250025 0.250025 0 0 0 17.875 13.091797 L 19.501953 14.03125 L 17.875 14.974609 L 17.875 14.972656 L 16.25 15.90625 L 16.25 9.5566406 L 21.75 6.3828125 z M 20 9.7011719 L 21.865234 10.78125 A 0.250025 0.250025 0 0 0 21.875 10.787109 L 29.5 15.189453 L 28 16.050781 L 18.5 10.566406 L 20 9.7011719 z M 18.25 11 L 27.75 16.484375 L 27.75 18.216797 L 20.125 13.814453 L 20.125 13.8125 L 18.25 12.732422 L 18.25 11 z M 34 13.167969 L 39.5 16.339844 L 34 19.515625 L 28.5 16.339844 L 30.113281 15.412109 L 30.115234 15.412109 A 0.250025 0.250025 0 0 0 30.125 15.40625 L 34 13.167969 z M 20.001953 15.185547 L 27 19.226562 L 27 23.269531 L 27 23.847656 L 27.5 24.136719 L 31 26.15625 L 31 34.234375 L 29.998047 34.814453 L 23 30.773438 L 23 26.730469 L 23 26.152344 L 22.5 25.863281 L 19 23.84375 L 19 15.765625 L 20.001953 15.185547 z M 14.25 15.623047 L 15.75 16.484375 L 15.75 27.453125 L 14.25 26.587891 L 14.25 24.431641 A 0.250025 0.250025 0 0 0 14.25 24.419922 L 14.25 15.623047 z M 17.75 15.623047 L 17.75 24.419922 L 17.75 26.587891 L 16.25 27.453125 L 16.25 16.484375 L 17.75 15.623047 z M 28.25 16.771484 L 33.75 19.947266 L 33.75 26.298828 L 32.134766 25.369141 A 0.250025 0.250025 0 0 0 32.125 25.363281 L 28.25 23.125 L 28.25 18.650391 L 28.25 16.771484 z M 39.75 16.773438 L 39.75 23.125 L 35.875 25.363281 A 0.250025 0.250025 0 0 0 35.853516 25.376953 L 34.25 26.298828 L 34.25 19.949219 L 39.75 16.773438 z M 13.75 24.853516 L 13.75 26.732422 A 0.250025 0.250025 0 0 0 13.875 26.949219 L 15.875 28.103516 A 0.250025 0.250025 0 0 0 16.125 28.103516 L 18.125 26.949219 A 0.250025 0.250025 0 0 0 18.25 26.732422 L 18.25 24.853516 L 21.5 26.730469 L 16 29.908203 L 10.5 26.730469 L 13.75 24.853516 z M 32.25 26.013672 L 33.75 26.876953 L 33.75 37.845703 L 32.25 36.980469 L 32.25 34.820312 A 0.250025 0.250025 0 0 0 32.25 34.810547 L 32.25 26.013672 z M 35.75 26.013672 L 35.75 34.810547 L 35.75 36.980469 L 34.25 37.845703 L 34.25 26.876953 L 35.75 26.013672 z M 10.25 27.164062 L 15.75 30.339844 L 15.75 36.6875 L 10.25 33.515625 L 10.25 27.164062 z M 21.75 27.164062 L 21.75 30.916016 L 20.125 29.978516 A 0.250025 0.250025 0 0 0 20.005859 29.945312 A 0.250025 0.250025 0 0 0 19.875 29.980469 L 17.875 31.134766 A 0.250025 0.250025 0 0 0 17.75 31.351562 L 17.75 33.660156 A 0.250025 0.250025 0 0 0 17.875 33.876953 L 19.5 34.810547 L 16.25 36.6875 L 16.25 30.339844 L 21.75 27.164062 z M 20 30.484375 L 21.865234 31.560547 A 0.250025 0.250025 0 0 0 21.875 31.566406 L 29.501953 35.96875 L 28 36.835938 L 18.5 31.351562 L 20 30.484375 z M 18.25 31.785156 L 27.75 37.269531 L 27.75 38.996094 L 20.125 34.59375 A 0.250025 0.250025 0 0 0 20.103516 34.582031 L 18.25 33.515625 L 18.25 31.785156 z M 31.75 35.242188 L 31.75 37.123047 A 0.250025 0.250025 0 0 0 31.875 37.339844 L 33.875 38.496094 A 0.250025 0.250025 0 0 0 34.125 38.496094 L 36.125 37.339844 A 0.250025 0.250025 0 0 0 36.25 37.123047 L 36.25 35.244141 L 39.501953 37.121094 L 34 40.298828 L 28.5 37.123047 L 30.125 36.1875 L 30.125 36.185547 L 31.75 35.242188 z M 39.75 37.552734 L 39.75 43.90625 L 34.25 47.085938 L 34.25 40.732422 L 39.75 37.552734 z M 28.25 37.556641 L 33.75 40.732422 L 33.75 47.085938 L 28.25 43.90625 L 28.25 39.429688 L 28.25 37.556641 z"
          ></path></svg
        >
      </div>
      <div>
        <h3>WordPress</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 64 64"
          width="52px"
          height="52px"
          ><path
            d="M 32 6 C 17.641 6 6 17.641 6 32 C 6 46.359 17.641 58 32 58 C 46.359 58 58 46.359 58 32 C 58 17.641 46.359 6 32 6 z M 32 9 C 44.703 9 55 19.297 55 32 C 55 44.703 44.703 55 32 55 C 19.297 55 9 44.703 9 32 C 9 19.297 19.297 9 32 9 z M 32 12 C 25.195 12 19.180406 15.422859 15.566406 20.630859 C 15.856406 20.630859 16.134766 20.626953 16.384766 20.626953 C 18.505766 20.626953 21.794922 20.375 21.794922 20.375 C 22.885922 20.312 23.008969 21.938266 21.917969 22.072266 C 21.917969 22.072266 20.804031 22.260266 19.582031 22.322266 L 26.958984 44.695312 L 31.384766 31.121094 L 28.25 22.322266 C 27.159 22.259266 26.097656 22.072266 26.097656 22.072266 C 25.006656 22.009266 25.129703 20.312 26.220703 20.375 C 26.220703 20.375 29.578359 20.626953 31.568359 20.626953 C 33.689359 20.626953 36.978516 20.375 36.978516 20.375 C 38.069516 20.312 38.192562 21.938266 37.101562 22.072266 C 37.101562 22.072266 35.979625 22.260266 34.765625 22.322266 L 42.082031 44.568359 L 44.111328 37.65625 C 45.133328 34.96925 45.648438 32.706641 45.648438 30.931641 C 45.648438 28.370641 44.764281 26.650391 43.988281 25.275391 C 42.966281 23.570391 42.021484 22.078047 42.021484 20.373047 C 42.021484 18.624047 43.205359 17.026297 44.943359 16.779297 C 41.451359 13.805297 36.935 12 32 12 z M 49.857422 23.044922 C 49.879422 23.419922 49.888672 23.805031 49.888672 24.207031 C 49.888672 26.304031 49.504562 28.670047 48.351562 31.623047 L 42.517578 48.978516 C 48.198578 45.446516 52 39.167 52 32 C 52 28.778 51.216422 25.742922 49.857422 23.044922 z M 13.660156 24.042969 C 12.597156 26.483969 12 29.172 12 32 C 12 39.729 16.414656 46.434672 22.847656 49.763672 L 13.660156 24.042969 z M 32.369141 33.822266 L 26.5 51.212891 C 28.25 51.714891 30.091 52 32 52 C 34.264 52 36.431891 51.604203 38.462891 50.908203 L 32.369141 33.822266 z"
          ></path></svg
        >
      </div>
    </section>
    <section id="quote" class="container-padded">
      <p>
        I believe that technology is built to enrich people’s lives,<br />
        and that it should be inclusive.
      </p>
      <p>
        I love to solve problems<br />
        the systematic and<br />
        maintainable way.
      </p>
    </section>
    <section id="projects">
      <div class="container-padded">
        <h3>Projects</h3>
        <ul>
          {projects.map((project) => <li>{project.name}</li>)}
        </ul>
      </div>
    </section>
  </main>
  <footer>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="100"
      height="100"
      viewBox="0 0 50 50"
      id="email-icon"
    >
      <path
        d="M 21 8.8359375 L 20.5 9.1230469 L 1.5 20.09375 L 1 20.382812 L 1 20.960938 L 1 24.419922 L 1 24.996094 L 1.5 25.285156 L 28.5 40.876953 L 29 41.164062 L 29.5 40.876953 L 48.5 29.90625 L 49 29.617188 L 49 29.039062 L 49 25.580078 L 49 25.003906 L 48.5 24.714844 L 21.5 9.1230469 L 21 8.8359375 z M 20.75 10.423828 L 20.75 20.707031 L 2.9296875 20.710938 L 20.75 10.423828 z M 21.25 10.423828 L 47.066406 25.330078 L 21.25 25.326172 L 21.25 10.423828 z M 20.75 21.207031 L 20.75 25.576172 A 0.250025 0.250025 0 0 0 21 25.826172 L 28.75 25.828125 L 28.75 36.113281 L 2.9335938 21.210938 L 20.75 21.207031 z M 2.25 21.392578 L 28.75 36.691406 L 28.75 39.576172 L 2.25 24.275391 L 2.25 21.392578 z M 29.25 25.828125 L 47.066406 25.830078 L 29.25 36.113281 L 29.25 25.828125 z M 47.75 26.013672 L 47.75 28.896484 L 29.25 39.576172 L 29.25 36.691406 L 47.75 26.013672 z"
      ></path>
    </svg>
    <svg
      width="192"
      height="22"
      viewBox="0 0 192 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      id="email-address"
    >
      <path
        d="M4.748 18L0.836 6.168V5.976H2.876L6.164 16.344L6.668 18H4.748ZM4.748 18L5.372 16.344L8.828 5.976H10.748L10.676 6.168L6.668 18H4.748ZM12.908 18L8.924 6.168L8.828 5.976H10.748L14.204 16.344L14.828 18H12.908ZM12.908 18L13.412 16.344L16.676 5.976H18.74V6.168L14.828 18H12.908ZM25.5292 18.312C24.3612 18.312 23.3292 18.048 22.4332 17.52C21.5372 16.976 20.8332 16.232 20.3212 15.288C19.8092 14.328 19.5532 13.224 19.5532 11.976C19.5532 10.728 19.8092 9.632 20.3212 8.688C20.8332 7.728 21.5372 6.984 22.4332 6.456C23.3292 5.928 24.3612 5.664 25.5292 5.664C26.7132 5.664 27.7532 5.928 28.6492 6.456C29.5452 6.984 30.2492 7.728 30.7612 8.688C31.2732 9.632 31.5292 10.728 31.5292 11.976C31.5292 13.224 31.2732 14.328 30.7612 15.288C30.2492 16.232 29.5452 16.976 28.6492 17.52C27.7532 18.048 26.7132 18.312 25.5292 18.312ZM25.5292 16.368C26.3132 16.368 26.9932 16.192 27.5692 15.84C28.1612 15.472 28.6252 14.96 28.9612 14.304C29.2972 13.632 29.4652 12.856 29.4652 11.976C29.4652 11.08 29.2972 10.312 28.9612 9.672C28.6252 9.016 28.1612 8.512 27.5692 8.16C26.9932 7.792 26.3132 7.608 25.5292 7.608C24.7612 7.608 24.0812 7.792 23.4892 8.16C22.8972 8.512 22.4332 9.016 22.0972 9.672C21.7612 10.312 21.5932 11.08 21.5932 11.976C21.5932 12.856 21.7612 13.632 22.0972 14.304C22.4332 14.96 22.8972 15.472 23.4892 15.84C24.0812 16.192 24.7612 16.368 25.5292 16.368ZM34.1008 18V5.976H36.0688V9.36L35.4928 9C35.7808 8.072 36.3168 7.336 37.1008 6.792C37.8848 6.248 38.7648 5.976 39.7408 5.976H40.9648V7.896H39.4288C38.7728 7.896 38.1968 8.056 37.7008 8.376C37.2208 8.68 36.8368 9.112 36.5488 9.672C36.2768 10.216 36.1408 10.856 36.1408 11.592V18H34.1008ZM43.8995 15.624V12.912L50.9795 5.976H53.4275V6.168L43.8995 15.624ZM42.9395 18V0.719999L44.9075 0.48L44.9795 0.671999V18H42.9395ZM51.1715 18L46.8035 11.784L48.1715 10.44L53.4515 17.808V18H51.1715ZM63.8156 21.36C62.5036 21.36 61.2876 21.12 60.1676 20.64C59.0476 20.176 58.0636 19.52 57.2156 18.672C56.3676 17.824 55.7036 16.84 55.2236 15.72C54.7436 14.584 54.5036 13.36 54.5036 12.048C54.5036 10.736 54.7436 9.52 55.2236 8.4C55.7036 7.264 56.3676 6.272 57.2156 5.424C58.0636 4.576 59.0476 3.92 60.1676 3.456C61.3036 2.976 62.5276 2.736 63.8396 2.736C65.1356 2.736 66.3516 2.976 67.4876 3.456C68.6236 3.92 69.6156 4.576 70.4636 5.424C71.3116 6.272 71.9676 7.256 72.4316 8.376C72.9116 9.496 73.1516 10.712 73.1516 12.024C73.1516 13.032 72.9996 13.936 72.6956 14.736C72.3916 15.536 71.9596 16.16 71.3996 16.608C70.8396 17.056 70.1916 17.28 69.4556 17.28C68.6876 17.28 68.0396 17.024 67.5116 16.512C66.9996 16 66.6716 15.28 66.5276 14.352L67.3196 14.592C67.0956 15.168 66.7596 15.672 66.3116 16.104C65.8796 16.536 65.3756 16.872 64.7996 17.112C64.2396 17.336 63.6396 17.448 62.9996 17.448C62.3276 17.448 61.7196 17.312 61.1756 17.04C60.6316 16.752 60.1996 16.36 59.8796 15.864C59.5596 15.368 59.3996 14.8 59.3996 14.16C59.3996 13.232 59.7196 12.48 60.3596 11.904C61.0156 11.328 61.9116 10.992 63.0476 10.896L66.9356 10.56V12.36L63.4316 12.624C62.7756 12.672 62.2716 12.824 61.9196 13.08C61.5676 13.336 61.3916 13.68 61.3916 14.112C61.3916 14.528 61.5676 14.88 61.9196 15.168C62.2716 15.456 62.7276 15.6 63.2876 15.6C63.8476 15.6 64.3596 15.464 64.8236 15.192C65.2876 14.904 65.6556 14.536 65.9276 14.088C66.2156 13.624 66.3596 13.112 66.3596 12.552V10.776C66.3596 10.088 66.1196 9.52 65.6396 9.072C65.1756 8.608 64.5836 8.376 63.8636 8.376C63.3196 8.376 62.8316 8.52 62.3996 8.808C61.9836 9.096 61.6956 9.488 61.5356 9.984H61.3196L59.5916 9.408C59.8956 8.496 60.4236 7.784 61.1756 7.272C61.9436 6.76 62.8476 6.504 63.8876 6.504C65.2796 6.504 66.3596 6.928 67.1276 7.776C67.9116 8.624 68.3036 9.816 68.3036 11.352V13.392C68.3036 14.032 68.4156 14.528 68.6396 14.88C68.8636 15.216 69.1756 15.384 69.5756 15.384C70.1196 15.384 70.5356 15.096 70.8236 14.52C71.1276 13.928 71.2796 13.096 71.2796 12.024C71.2796 10.984 71.0876 10.016 70.7036 9.12C70.3356 8.208 69.8156 7.416 69.1436 6.744C68.4716 6.056 67.6796 5.52 66.7676 5.136C65.8556 4.752 64.8876 4.56 63.8636 4.56C62.8076 4.56 61.8316 4.752 60.9356 5.136C60.0396 5.52 59.2556 6.056 58.5836 6.744C57.9116 7.432 57.3836 8.232 56.9996 9.144C56.6316 10.04 56.4476 11.008 56.4476 12.048C56.4476 13.088 56.6316 14.064 56.9996 14.976C57.3836 15.872 57.9116 16.664 58.5836 17.352C59.2556 18.04 60.0316 18.576 60.9116 18.96C61.8076 19.344 62.7676 19.536 63.7916 19.536C64.2876 19.536 64.7676 19.488 65.2316 19.392C65.7116 19.296 66.1676 19.152 66.5996 18.96C67.0476 18.784 67.4636 18.568 67.8476 18.312H68.1356L69.1436 19.728C68.3436 20.256 67.4956 20.656 66.5996 20.928C65.7036 21.216 64.7756 21.36 63.8156 21.36ZM74.8807 18V16.152L83.1607 6.792L83.4007 7.896H74.9527V5.976H84.7447V7.776L76.4647 17.208L76.2247 16.056H84.7447V18H74.8807ZM90.7443 18.312C89.9123 18.312 89.1683 18.152 88.5123 17.832C87.8723 17.512 87.3683 17.072 87.0003 16.512C86.6323 15.936 86.4483 15.28 86.4483 14.544C86.4483 13.488 86.8243 12.632 87.5763 11.976C88.3443 11.32 89.4003 10.936 90.7443 10.824L95.3763 10.488V12.312L91.1523 12.648C90.2723 12.712 89.6163 12.904 89.1843 13.224C88.7683 13.528 88.5603 13.96 88.5603 14.52C88.5603 15.048 88.7843 15.488 89.2323 15.84C89.6803 16.192 90.2563 16.368 90.9603 16.368C91.6803 16.368 92.3363 16.2 92.9283 15.864C93.5203 15.528 93.9843 15.08 94.3203 14.52C94.6723 13.96 94.8483 13.336 94.8483 12.648V10.704C94.8483 9.792 94.5603 9.04 93.9843 8.448C93.4243 7.856 92.6723 7.56 91.7283 7.56C90.9923 7.56 90.3603 7.744 89.8323 8.112C89.3043 8.464 88.9443 8.96 88.7523 9.6H88.4883L86.7123 9.024C87.0643 7.952 87.6803 7.12 88.5603 6.528C89.4403 5.936 90.5043 5.64 91.7523 5.64C93.3843 5.64 94.6403 6.128 95.5203 7.104C96.4163 8.08 96.8643 9.456 96.8643 11.232V18H94.9443V14.496L95.6643 14.88C95.4723 15.536 95.1283 16.128 94.6323 16.656C94.1523 17.168 93.5763 17.576 92.9043 17.88C92.2483 18.168 91.5283 18.312 90.7443 18.312ZM100.03 18V5.976H101.998V9.36L101.422 9C101.71 8.072 102.246 7.336 103.03 6.792C103.814 6.248 104.694 5.976 105.67 5.976H106.894V7.896H105.358C104.702 7.896 104.126 8.056 103.63 8.376C103.15 8.68 102.766 9.112 102.478 9.672C102.206 10.216 102.07 10.856 102.07 11.592V18H100.03ZM113.285 18C112.245 18 111.397 17.672 110.741 17.016C110.085 16.344 109.757 15.44 109.757 14.304V2.736H111.797V14.136C111.797 14.824 111.949 15.32 112.253 15.624C112.557 15.912 113.045 16.056 113.717 16.056H115.157L115.277 16.32V18H113.285ZM107.693 7.896V5.976H115.277V7.896H107.693ZM117.96 18V5.976H119.928V9.36L119.352 9C119.64 8.072 120.176 7.336 120.96 6.792C121.744 6.248 122.624 5.976 123.6 5.976H124.824V7.896H123.288C122.632 7.896 122.056 8.056 121.56 8.376C121.08 8.68 120.696 9.112 120.408 9.672C120.136 10.216 120 10.856 120 11.592V18H117.96ZM131.466 18.312C130.298 18.312 129.266 18.048 128.37 17.52C127.474 16.976 126.77 16.232 126.258 15.288C125.762 14.344 125.514 13.24 125.514 11.976C125.514 10.728 125.762 9.632 126.258 8.688C126.754 7.728 127.442 6.984 128.322 6.456C129.218 5.928 130.242 5.664 131.394 5.664C132.53 5.664 133.522 5.936 134.37 6.48C135.234 7.008 135.906 7.76 136.386 8.736C136.866 9.712 137.106 10.848 137.106 12.144V12.432L136.746 12.768H126.642V10.872H136.002L135.042 11.256C134.994 10.488 134.802 9.832 134.466 9.288C134.13 8.744 133.698 8.328 133.17 8.04C132.642 7.736 132.05 7.584 131.394 7.584C130.69 7.584 130.042 7.76 129.45 8.112C128.858 8.448 128.394 8.928 128.058 9.552C127.722 10.176 127.554 10.896 127.554 11.712V12.192C127.554 12.992 127.722 13.712 128.058 14.352C128.394 14.976 128.858 15.472 129.45 15.84C130.042 16.208 130.714 16.392 131.466 16.392C132.202 16.392 132.842 16.216 133.386 15.864C133.93 15.496 134.354 15 134.658 14.376H134.946L136.626 15.12C136.178 16.112 135.498 16.896 134.586 17.472C133.69 18.032 132.65 18.312 131.466 18.312ZM140.701 18.192C140.269 18.192 139.909 18.048 139.621 17.76C139.333 17.472 139.189 17.12 139.189 16.704C139.189 16.272 139.333 15.912 139.621 15.624C139.909 15.336 140.269 15.192 140.701 15.192C141.133 15.192 141.485 15.336 141.757 15.624C142.045 15.912 142.189 16.272 142.189 16.704C142.189 17.12 142.045 17.472 141.757 17.76C141.485 18.048 141.133 18.192 140.701 18.192ZM150.617 18.312C149.417 18.312 148.361 18.048 147.449 17.52C146.537 16.976 145.825 16.232 145.313 15.288C144.801 14.344 144.545 13.24 144.545 11.976C144.545 10.728 144.801 9.632 145.313 8.688C145.825 7.728 146.537 6.984 147.449 6.456C148.361 5.928 149.417 5.664 150.617 5.664C151.529 5.664 152.345 5.832 153.065 6.168C153.801 6.488 154.425 6.952 154.937 7.56C155.465 8.152 155.857 8.88 156.113 9.744L154.337 10.248H154.073C153.801 9.432 153.353 8.792 152.729 8.328C152.121 7.848 151.417 7.608 150.617 7.608C149.801 7.608 149.089 7.792 148.481 8.16C147.889 8.528 147.425 9.04 147.089 9.696C146.753 10.352 146.585 11.112 146.585 11.976C146.585 12.84 146.753 13.608 147.089 14.28C147.425 14.936 147.889 15.448 148.481 15.816C149.089 16.184 149.801 16.368 150.617 16.368C151.177 16.368 151.689 16.264 152.153 16.056C152.617 15.848 153.017 15.544 153.353 15.144C153.705 14.744 153.977 14.272 154.169 13.728H154.433L156.233 14.232C155.945 15.096 155.529 15.84 154.985 16.464C154.441 17.072 153.801 17.536 153.065 17.856C152.345 18.16 151.529 18.312 150.617 18.312ZM163.951 18.312C162.783 18.312 161.751 18.048 160.855 17.52C159.959 16.976 159.255 16.232 158.743 15.288C158.231 14.328 157.975 13.224 157.975 11.976C157.975 10.728 158.231 9.632 158.743 8.688C159.255 7.728 159.959 6.984 160.855 6.456C161.751 5.928 162.783 5.664 163.951 5.664C165.135 5.664 166.175 5.928 167.071 6.456C167.967 6.984 168.671 7.728 169.183 8.688C169.695 9.632 169.951 10.728 169.951 11.976C169.951 13.224 169.695 14.328 169.183 15.288C168.671 16.232 167.967 16.976 167.071 17.52C166.175 18.048 165.135 18.312 163.951 18.312ZM163.951 16.368C164.735 16.368 165.415 16.192 165.991 15.84C166.583 15.472 167.047 14.96 167.383 14.304C167.719 13.632 167.887 12.856 167.887 11.976C167.887 11.08 167.719 10.312 167.383 9.672C167.047 9.016 166.583 8.512 165.991 8.16C165.415 7.792 164.735 7.608 163.951 7.608C163.183 7.608 162.503 7.792 161.911 8.16C161.319 8.512 160.855 9.016 160.519 9.672C160.183 10.312 160.015 11.08 160.015 11.976C160.015 12.856 160.183 13.632 160.519 14.304C160.855 14.96 161.319 15.472 161.911 15.84C162.503 16.192 163.183 16.368 163.951 16.368ZM172.523 18V5.976H174.491V9.312L173.987 8.856C174.211 8.2 174.555 7.64 175.019 7.176C175.483 6.696 176.027 6.328 176.651 6.072C177.275 5.8 177.931 5.664 178.619 5.664C179.659 5.664 180.563 5.96 181.331 6.552C182.099 7.144 182.603 8 182.843 9.12L182.003 9.096C182.211 8.408 182.555 7.808 183.035 7.296C183.531 6.784 184.123 6.384 184.811 6.096C185.499 5.808 186.243 5.664 187.043 5.664C187.859 5.664 188.595 5.848 189.251 6.216C189.907 6.584 190.427 7.128 190.811 7.848C191.195 8.568 191.387 9.472 191.387 10.56V18H189.347V11.04C189.347 10.176 189.219 9.496 188.963 9C188.707 8.504 188.371 8.152 187.955 7.944C187.539 7.736 187.067 7.632 186.539 7.632C185.995 7.632 185.451 7.776 184.907 8.064C184.363 8.352 183.907 8.792 183.539 9.384C183.171 9.96 182.987 10.704 182.987 11.616V18H180.947V11.04C180.947 10.176 180.819 9.496 180.563 9C180.307 8.504 179.963 8.152 179.531 7.944C179.115 7.736 178.651 7.632 178.139 7.632C177.595 7.632 177.043 7.784 176.483 8.088C175.939 8.376 175.483 8.816 175.115 9.408C174.747 9.984 174.563 10.72 174.563 11.616V18H172.523Z"
      ></path>
    </svg>
    <p>Nathan (Zartre) Yiangsuppanontr</p>
    <div id="webring">
      Part of
      <a
        href="https://webring.wonderful.software#zartre.com"
        title="วงแหวนเว็บ"
      >
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.84135 11.7654L3.37981 11.0164C1.50262 14.6944 0.983405 18.9169 1.91361 22.9401C2.84382 26.9633 5.16378 30.5293 8.46494 33.0101C11.7661 35.4908 15.8367 36.7272 19.9599 36.5015C24.0831 36.2758 27.9944 34.6025 31.0051 31.7762C34.0157 28.95 35.9326 25.1521 36.4181 21.0513C36.9036 16.9506 35.9266 12.81 33.6592 9.35889C31.3917 5.90774 27.9793 3.36733 24.0228 2.18504C20.0663 1.00275 15.8195 1.25441 12.0303 2.89571L12.6788 4.41206C16.1132 2.92485 19.9621 2.69721 23.5478 3.76924C27.1335 4.84126 30.2259 7.14419 32.2803 10.2724C34.3347 13.4006 35.2194 17.1534 34.7785 20.8698C34.3376 24.5863 32.5995 28.028 29.8702 30.5887C27.1409 33.1494 23.5955 34.6649 19.8585 34.8682C16.1216 35.0715 12.4327 33.9497 9.44165 31.7002C6.45062 29.4508 4.34927 26.218 3.50774 22.5714C2.66621 18.9247 3.13848 15.0981 4.84135 11.7654Z"
          ></path>
          <path
            d="M8.65048 8.43129L7.49038 11.5553L5.71827 8.74186L2.39327 8.61398L4.52163 6.05629L3.61731 2.85004L6.71394 4.08321L9.48173 2.22888L9.2625 5.55388L11.875 7.60917L8.65048 8.43129Z"
          ></path>
        </svg>
      </a>
    </div>
  </footer>
</Layout>

<style lang="sass">
  $container-width: 1180px
  $hero-mid-breakpoint: 640px
  $hero-small-breakpoint: 375px

  html
    background-color: var(--color-background)
  section
    position: relative
    h3
      font-size: 1.3rem
      font-weight: 560
    &#hero
      margin-top: 3rem
      padding-top: 1.2rem
      padding-bottom: 0.6rem
      @media screen and (max-width: $hero-mid-breakpoint)
        margin-top: 2rem
        padding-top: 0
      @media screen and (max-width: $hero-small-breakpoint)
        margin-top: 1rem
      #hero-blob
        position: absolute
        top: 0
        right: 0
        z-index: -10
        @media screen and (max-width: $container-width)
          top: -3em
          right: 0
      svg
        &#site-name
          margin-bottom: 70px
          @media screen and (max-width: $hero-mid-breakpoint)
            width: 100%
            max-width: 300px
            margin-bottom: 26px
          @media screen and (max-width: $hero-small-breakpoint)
            max-width: 240px
            margin-bottom: 4px
          path
            fill: var(--color-text)
      .bio
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 24px
        @media screen and (max-width: $hero-mid-breakpoint)
          flex-direction: column
          align-items: flex-start
          row-gap: 16px
          margin-bottom: 44px
        p
          font-size: 1.8em
          margin: 0
          @media screen and (max-width: $hero-mid-breakpoint)
            font-size: 26px
        span
          font-size: 16px
          margin: 0
      .cta
        a
          font-size: 24px
    &#services
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-top: 4rem
      margin-bottom: 4rem
      border-top: 1px solid var(--color-text)
      border-bottom: 1px solid var(--color-text)
      @media screen and (max-width: $hero-mid-breakpoint)
        margin-top: 2.7rem
        margin-bottom: 2.7rem
      div
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        width: 50%
        padding: 0.8em 1em 2em
        h3
          margin: 0.9em auto 0.4em
        svg
          width: 52px
          path
            fill: var(--color-text)
        @media screen and (min-width: 720px)
          flex: 1
          &:not(:last-child)
            border-right: 1px solid var(--color-text)
        @media screen and (max-width: 719px)
          &:nth-child(odd)
            border-right: 1px solid var(--color-text)
          &:nth-child(1), &:nth-child(2)
            border-bottom: 1px solid var(--color-text)
    &#quote
      margin-top: 4.7rem
      margin-bottom: 4.7rem
      p
        font-size: 2.5em
        max-width: 670px
      @media screen and (max-width: 669px)
        br
          display: none
    &#projects
      padding: 4.5rem 0
      background-color: var(--color-background-dark)
      color: var(--color-text-on-dark)
      h3
        margin-bottom: 2.5rem
      ul
        list-style-type: none
        padding: 0
        margin: 0
        li
          font-size: 1.8em
          margin-bottom: 0.5em
  footer
    padding: 5rem 1rem
    text-align: center
    img
      display: block
      margin: 1em auto
    svg
      path
        fill: var(--color-text)
      &#email-address
        display: block
        margin: 0.7em auto
      &#email-icon
        width: 52px
        height: 52px
    p
      font-size: 16px
      margin: 0.7em auto 3.5em
    #webring
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      column-gap: 0.5em
      a, img
        display: block
      svg
        path
          fill: var(--color-text)
</style>
