---
import Button from "../components/Button.astro";
import Buttons from "../components/Buttons.astro";
import codeIcon from "../icons/icons8-code-50.png";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const blogURL = import.meta.env.VITE_BLOG_URL;
const linkedInURL = "https://linkedin.com/in/zartre";
---

<Layout title="Nathan Zartre">
  <main>
    <section id="hero" class="container-padded">
      <svg
        id="site-name"
        width="409"
        height="199"
        viewBox="0 0 409 199"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M308.066 198.36C301.815 198.36 296.369 197.136 291.729 194.687C287.089 192.173 283.513 188.661 280.999 184.15C278.486 179.574 277.229 174.193 277.229 168.007C277.229 161.82 278.454 156.503 280.903 152.057C283.352 147.546 286.832 144.098 291.343 141.713C295.918 139.264 301.299 138.04 307.486 138.04C313.544 138.04 318.732 139.2 323.049 141.52C327.432 143.84 330.783 147.159 333.103 151.477C335.423 155.794 336.583 160.95 336.583 166.943V172.357H292.599C293.244 176.674 294.887 179.961 297.529 182.217C300.172 184.472 303.652 185.6 307.969 185.6C311.385 185.6 314.092 185.02 316.089 183.86C318.087 182.7 319.505 180.928 320.343 178.543H336.389C335.101 184.73 331.975 189.596 327.013 193.14C322.051 196.62 315.735 198.36 308.066 198.36ZM292.986 161.723H321.213C320.697 158.05 319.279 155.311 316.959 153.507C314.639 151.638 311.514 150.703 307.583 150.703C303.652 150.703 300.429 151.638 297.916 153.507C295.467 155.376 293.824 158.114 292.986 161.723Z"
          fill="#202020"></path>
        <path
          d="M238.661 197.2V155.053H230.734V139.2H246.974V150.607H251.034C252.581 146.547 255.03 143.518 258.381 141.52C261.732 139.522 265.502 138.523 269.691 138.523H274.621V152.443H269.014C263.988 152.443 260.282 153.861 257.898 156.697C255.578 159.532 254.418 163.27 254.418 167.91V197.2H238.661Z"
          fill="#202020"></path>
        <path
          d="M207.368 197.2C203.244 197.2 200.021 196.169 197.701 194.107C195.446 191.98 194.318 188.758 194.318 184.44V151.767H184.361V139.2H194.511V121.8H210.171V139.2H223.608V151.767H210.365V184.633H224.961V197.2H207.368Z"
          fill="#202020"></path>
        <path
          d="M144.298 197.2V155.053H136.371V139.2H152.611V150.607H156.671C158.218 146.547 160.667 143.518 164.018 141.52C167.369 139.522 171.139 138.523 175.328 138.523H180.258V152.443H174.651C169.624 152.443 165.919 153.861 163.534 156.697C161.214 159.532 160.054 163.27 160.054 167.91V197.2H144.298Z"
          fill="#202020"></path>
        <path
          d="M91.3017 198.263C84.4706 198.263 79.1217 196.62 75.255 193.333C71.3884 189.982 69.455 185.6 69.455 180.187C69.455 174.451 71.4528 170.037 75.4483 166.943C79.4439 163.85 85.1795 162.303 92.655 162.303H109.282V160.08C109.282 153.829 105.544 150.703 98.0684 150.703C91.5595 150.703 87.6284 152.959 86.275 157.47H70.325C71.6139 151.09 74.6106 146.257 79.315 142.97C84.0195 139.683 90.2706 138.04 98.0684 138.04C106.704 138.04 113.277 139.973 117.788 143.84C122.364 147.707 124.652 153.346 124.652 160.757V181.347H132.192V197.2H115.952V187.727H111.892C109.894 191.078 107.219 193.688 103.868 195.557C100.517 197.361 96.3283 198.263 91.3017 198.263ZM93.7184 186.083C96.7472 186.083 99.4217 185.536 101.742 184.44C104.062 183.344 105.898 181.894 107.252 180.09C108.605 178.221 109.282 176.127 109.282 173.807V172.937H93.4284C87.6284 172.937 84.7283 175.096 84.7283 179.413C84.7283 181.54 85.5339 183.183 87.145 184.343C88.7561 185.503 90.9472 186.083 93.7184 186.083Z"
          fill="#202020"></path>
        <path
          d="M0 197.2V186.18L40.9867 133.207H1.74V118.9H62.2533V129.92L21.3633 182.893H63.4133V197.2H0Z"
          fill="#202020"></path>
        <path
          d="M349.6 81.2V39.0533H341.673V23.2H357.913V32.6733H361.973C364.228 29.3222 367.064 26.7444 370.48 24.94C373.895 23.0711 378.148 22.1367 383.24 22.1367C391.295 22.1367 397.514 24.36 401.896 28.8067C406.343 33.1889 408.566 39.0855 408.566 46.4967V81.2H392.52V49.4933C392.52 45.24 391.36 42.0178 389.04 39.8267C386.784 37.5711 383.465 36.4433 379.083 36.4433C374.701 36.4433 371.35 37.5711 369.03 39.8267C366.774 42.0178 365.646 45.24 365.646 49.4933V81.2H349.6Z"
          fill="#202020"></path>
        <path
          d="M297.474 82.2633C290.642 82.2633 285.294 80.62 281.427 77.3333C277.56 73.9822 275.627 69.6 275.627 64.1867C275.627 58.4511 277.625 54.0367 281.62 50.9433C285.616 47.85 291.351 46.3033 298.827 46.3033H315.454V44.08C315.454 37.8289 311.716 34.7033 304.24 34.7033C297.731 34.7033 293.8 36.9589 292.447 41.47H276.497C277.786 35.09 280.782 30.2567 285.487 26.97C290.191 23.6833 296.442 22.04 304.24 22.04C312.876 22.04 319.449 23.9733 323.96 27.84C328.536 31.7067 330.824 37.3456 330.824 44.7567V65.3467H338.364V81.2H322.124V71.7267H318.064C316.066 75.0778 313.391 77.6878 310.04 79.5567C306.689 81.3611 302.5 82.2633 297.474 82.2633ZM299.89 70.0833C302.919 70.0833 305.594 69.5356 307.914 68.44C310.234 67.3445 312.07 65.8945 313.424 64.09C314.777 62.2211 315.454 60.1267 315.454 57.8067V56.9367H299.6C293.8 56.9367 290.9 59.0956 290.9 63.4133C290.9 65.54 291.706 67.1833 293.317 68.3433C294.928 69.5033 297.119 70.0833 299.89 70.0833Z"
          fill="#202020"></path>
        <path
          d="M207.483 81.2V0H223.53V31.5133H223.916C225.785 28.42 228.298 26.1 231.456 24.5533C234.614 22.9422 238.352 22.1367 242.67 22.1367C249.952 22.1367 255.72 24.36 259.973 28.8067C264.291 33.1889 266.45 39.0855 266.45 46.4967V81.2H250.403V49.4933C250.403 45.24 249.243 42.0178 246.923 39.8267C244.667 37.5711 241.348 36.4433 236.966 36.4433C232.584 36.4433 229.233 37.5711 226.913 39.8267C224.657 42.0178 223.53 45.24 223.53 49.4933V81.2H207.483Z"
          fill="#202020"></path>
        <path
          d="M181.313 81.2C177.189 81.2 173.967 80.1689 171.647 78.1067C169.391 75.98 168.263 72.7578 168.263 68.44V35.7667H158.307V23.2H168.457V5.79999H184.117V23.2H197.553V35.7667H184.31V68.6333H198.907V81.2H181.313Z"
          fill="#202020"></path>
        <path
          d="M113.052 82.2633C106.221 82.2633 100.872 80.62 97.005 77.3333C93.1384 73.9822 91.205 69.6 91.205 64.1867C91.205 58.4511 93.2028 54.0367 97.1983 50.9433C101.194 47.85 106.929 46.3033 114.405 46.3033H131.032V44.08C131.032 37.8289 127.294 34.7033 119.818 34.7033C113.309 34.7033 109.378 36.9589 108.025 41.47H92.075C93.3639 35.09 96.3606 30.2567 101.065 26.97C105.769 23.6833 112.021 22.04 119.818 22.04C128.454 22.04 135.027 23.9733 139.538 27.84C144.114 31.7067 146.402 37.3456 146.402 44.7567V65.3467H153.942V81.2H137.702V71.7267H133.642C131.644 75.0778 128.969 77.6878 125.618 79.5567C122.267 81.3611 118.078 82.2633 113.052 82.2633ZM115.468 70.0833C118.497 70.0833 121.172 69.5356 123.492 68.44C125.812 67.3445 127.648 65.8945 129.002 64.09C130.355 62.2211 131.032 60.1267 131.032 57.8067V56.9367H115.178C109.378 56.9367 106.478 59.0956 106.478 63.4133C106.478 65.54 107.284 67.1833 108.895 68.3433C110.506 69.5033 112.697 70.0833 115.468 70.0833Z"
          fill="#202020"></path>
        <path
          d="M79.75 81.2H62.2533L21.5567 26.8733H21.17V81.2H5.51001V2.89999H22.4267L63.7033 58.3867H64.09V2.89999H79.75V81.2Z"
          fill="#202020"></path>
      </svg>
      <div class="bio">
        <p>
          Full-stack<br />
          software engineer<br />
          who is passionate in<br />
          solving real world problems<br />
          through code
        </p>
        <span>Bangkok, Thailand</span>
      </div>
      <Buttons class="cta">
        <Button text="Blog" url={blogURL} />
        <Button text="LinkedIn" url={linkedInURL} />
      </Buttons>
    </section>
    <section id="services" class="container">
      <div>
        <h3>Web frontend</h3>
        <Image src={codeIcon} alt="Code icon" width="52" height="52" />
      </div>
      <div>
        <h3>Backend</h3>
        <Image src={codeIcon} alt="Code icon" width="52" height="52" />
      </div>
      <div>
        <h3>API</h3>
        <Image src={codeIcon} alt="Code icon" width="52" height="52" />
      </div>
      <div>
        <h3>WordPress</h3>
        <Image src={codeIcon} alt="Code icon" width="52" height="52" />
      </div>
    </section>
    <section id="quote" class="container-padded">
      <p>
        I believe that technology is built to enrich people’s lives,<br />
        and that it should be inclusive.
      </p>
      <p>
        I love to solve problems<br />
        the systematic and<br />
        maintainable way.
      </p>
    </section>
    <div id="webring">
      Part of
      <a
        href="https://webring.wonderful.software#zartre.com"
        title="วงแหวนเว็บ"
      >
        <img
          alt="วงแหวนเว็บ"
          width="32"
          height="32"
          src="https://webring.wonderful.software/webring.black.svg"
        />
      </a>
    </div>
  </main>
</Layout>

<style lang="sass">
  $hero-mid-breakpoint: 640px
  $hero-small-breakpoint: 375px

  html
    background-color: var(--color-background)
  body
    padding-top: 58px
    @media screen and (max-width: $hero-mid-breakpoint)
      padding-top: 24px
    @media screen and (max-width: $hero-small-breakpoint)
      padding-top: 0
  section
    &#hero
      padding-top: 16px
      padding-bottom: 16px
      svg#site-name
        margin-bottom: 70px
        @media screen and (max-width: $hero-mid-breakpoint)
          width: 100%
          max-width: 300px
          margin-bottom: 26px
        @media screen and (max-width: $hero-small-breakpoint)
          max-width: 240px
          margin-bottom: 4px
        path
          fill: var(--color-text)
      .bio
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 24px
        @media screen and (max-width: $hero-mid-breakpoint)
          flex-direction: column
          align-items: flex-start
          row-gap: 16px
          margin-bottom: 44px
        p
          font-size: 32px
          margin: 0
          @media screen and (max-width: $hero-mid-breakpoint)
            font-size: 26px
        span
          font-size: 16px
          margin: 0
      .cta
        a
          font-size: 24px
    &#services
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-top: 74px
      margin-bottom: 74px
      border-top: 1px solid var(--color-text)
      border-bottom: 1px solid var(--color-text)
      @media screen and (max-width: $hero-mid-breakpoint)
        margin-top: 44px
        margin-bottom: 44px
      div
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        width: 50%
        padding: 0.8em 1em 2em
        @media screen and (min-width: 720px)
          flex: 1
          &:not(:last-child)
            border-right: 1px solid var(--color-text)
        @media screen and (max-width: 719px)
          &:nth-child(odd)
            border-right: 1px solid var(--color-text)
          &:nth-child(1), &:nth-child(2)
            border-bottom: 1px solid var(--color-text)
    &#quote
      margin-top: 84px
      margin-bottom: 84px
      p
        font-size: 2.5em
        max-width: 670px
      @media screen and (max-width: 669px)
        br
          display: none
  #webring
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    column-gap: 0.5em
    a, img
      display: block
    @media screen and (prefers-color-scheme: dark)
      img
        filter: invert(1)
</style>
