---
import "normalize.css";
import "../styles/raster.css";
import "../styles/app.sass";
import "../styles/article.sass";
import { Image } from 'astro:assets';
import TopNav from "../components/TopNav.astro";
import { formatDate } from "../utils/date";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,wght,GRAD@0,8..144,50..150,100..900,20;1,8..144,50..150,100..900,20&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WX579TCJNZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WX579TCJNZ');
    </script>
    <title>{post.data.title}</title>
  </head>
  <body>
    <TopNav />
    <article>
      <div class="meta">
        <h1>{post.data.title}</h1>
        <p>{post.data.tags ? post.data.tags.join(", ") : ""} - {formatDate(post.data.date)}</p>
      </div>
      {post.data.coverImage && <Image src={post.data.coverImage} alt={post.data.title} class="cover" />}
      <div class="content">
        <Content />
      </div>
    </article>
    <footer/>
  </body>
</html>

<style lang="sass">
body
  background-color: var(--color-background)
</style>
